<!DOCTYPE html>
<html>
<head>

  <title>SIR Model</title>
</head>
<body>
<link rel="stylesheet" href="../static/styles.css">
  <div class="header">
<h1>SIR Modeling</h1>
</div>

<div class="Info">
<h2>Info</h2>
<p>Since the COVID-19 epidemic, researchers have predicted that there would be an increase in frequency of pandemics, due to several factors;
  such as the worlds ever increasing population density, enviromental travel, and rise of globalization. Experts in epidemiology have
  turned to modeling and simulations in order to understand these diseases and prepare for potential pandemics.
   SIR modeling is a simple yet powerful tool used in epidemiology to simulate the spread of infectious diseases
  within a population. It divides the population into three compartments: Susceptible (S), Infected (I), and Recovered (R).
   The model tracks how individuals move from being susceptible to infected, and eventually to recovered, often with immunity.
    By adjusting parameters such as the infection rate and recovery rate,
    the SIR model helps predict the dynamics of an outbreak, evaluate the impact of interventions,
     and understand the overall behavior of epidemics. Factors such number of interactions between healthy and ill people, recovery time,infection rate per contact, and recovery rate all
     can effect the epidemiology of a disease. This website was deisgned so users could see how different factors
    influence the spread of an epidemic.</p>
</div>

<div class="Inputform1">
<h2>Enter SIR values</h2>
<form>
  <label for="S">S value</label><br>
  <input type="text" name="S" ><br>
  <label for="I">I value</label><br>
  <input type="text" name="I" ><br>
  <label for="R">R value</label><br>
  <input type="text" name="R" ><br>
  <input type="submit" value="Model">
</form>
</div>

<div class="graph">
  <img src="../static/images/samplemodel.jpg" alt="model placeholder">
</div>

<div class="footer">
<h2>More Information</h2>
  <div class="footer-links">
<a href="//www.ncbi.nlm.nih.gov/pmc/articles/PMC7273264/">NIH</a><br>
<a href="https://www.youtube.com/watch?v=NKMHhm2Zbkw">COVID-19 SIR Model Video</a><br>
<a href="https://scholarworks.smith.edu/textbooks/2/">Calculus in Context Textbook: Chapter 1</a>
<a href="https://www.chathamhouse.org/2022/02/next-pandemic-when-could-it-be">When Is the Next Pandemic?</a>
  </div>
</div>

</body>
</html>